<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kurekwioletta.githubclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GithubClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/main_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.repository_details.RepositoryDetailsActivity"
            android:label="@string/repository_details_activity_title"/>
        <activity
            android:name=".ui.repositories_list.RepositoriesListActivity"
            android:label="@string/repositories_list_activity_title" />
    </application>

</manifest>